@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');
html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  line-height: 1.4;
  font-family: "Open Sans", serif;
}
